body {
  background-color: #2b2b2b;
  padding: 30px 30px 30px 30px;
  color: whitesmoke;
  font-family: "roboto";
}

.error {
  color: red;
}

.myFormat {
  text-align: left;
  width: 420px;
  padding: 10px;
  border: 2px solid whitesmoke;
}

.myINformat {
  float: right;
}

.table {
  text-align: left;
}

td {
  float: right;
}

.managerDashboard {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
}

.mainBody {
  width: 100%;
  height: 428px;
  border: 1px solid white;
}

.link {
  font-size: large;
  font-style: italic;
  color: aliceblue;
  text-decoration: none;
}

.sidebarNav {
  list-style-type: none;
  width: 150px;
  background-color: #3d3d3d;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-left: 15px;
}

.sidebarItem {
  text-decoration: none;
  font-size: medium;
  color: white;
  display: block;
}

.link:hover,
.sidebarItem:hover {
  color: black;
}

.sidebarContent {
    padding-left: 10px;
    width: 74%;
    height: 400px;
    margin: -416px 15px;
    border: 2px solid white;
    float: right;
  }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #3a3a3a;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #3a3a3a;
}
